.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.col_gjrf{margin:0 0 20px 0; overflow:hidden;}
.row_cifj{padding:40px 0 0 0;margin:20px 0 20px 0; overflow:hidden;}

.row_eoz0{margin:0 0 1% 0; overflow:hidden;}

.row_kzvf{margin:2% 0 3% 0; overflow:hidden;}

.col_9ams{margin:0px 0px 0px 0px; overflow:hidden;}
.row_ngco{padding:2% 0 2% 0; overflow:hidden;}

.row_gkdd{padding:6% 0 6% 0;margin:0px 0px 30px 0px;background-image:url('../../../../../image/catalog/Data/November-sale.png');background-repeat:no-repeat; background-position:left top; background-attachment:scroll ;background-size:cover; overflow:hidden;}

.col_hz0z .so-desc,.col_hz0z p,.col_hz0z span,.col_hz0z div{color:#233A53}.col_hz0z .so-link,.col_hz0z a{color:#233A53}
.col_hz0z .so-heading,.col_hz0z h1,.col_hz0z h2,.col_hz0z h3,.col_hz0z h4,.col_hz0z h5,.col_hz0z h6{color:#233A53}

.col_uwea .so-link,.col_uwea h1 a,.col_uwea h2 a,.col_uwea h3 a,.col_uwea h4 a,.col_uwea h5 a,.col_uwea h6 a,.col_uwea a{color:#233A53}
.col_1wvx{margin:0 0 20px 0; overflow:hidden;}
