.so-page-builder .container-fluid{padding:0; overflow:hidden;}.so-page-builder .container{padding:0; overflow:hidden;}.so-page-builder section{overflow:hidden;}
.col_gjrf{margin:0 0 0 0; overflow:hidden;}
/* Style Html */ 
.mod-testimonial_yrlx.reviews-testimonial h3 {
    text-align: center;
    margin-left: -18%;
}
.col_77nu .so-desc,.col_77nu p,.col_77nu span,.col_77nu div{color:#ffffff}.col_77nu .so-link,.col_77nu a{color:#ffffff}
.col_77nu .so-heading,.col_77nu h1,.col_77nu h2,.col_77nu h3,.col_77nu h4,.col_77nu h5,.col_77nu h6{color:#fff}

.col_xf4o .so-desc,.col_xf4o p,.col_xf4o span,.col_xf4o div{color:#fff}.col_xf4o .so-link,.col_xf4o a{color:#fff}
.col_xf4o .so-heading,.col_xf4o h1,.col_xf4o h2,.col_xf4o h3,.col_xf4o h4,.col_xf4o h5,.col_xf4o h6{color:#fff}

.col_9v3t .so-desc,.col_9v3t p,.col_9v3t span,.col_9v3t div{color:#fff}.col_9v3t .so-link,.col_9v3t h1 a,.col_9v3t h2 a,.col_9v3t h3 a,.col_9v3t h4 a,.col_9v3t h5 a,.col_9v3t h6 a,.col_9v3t a{color:#fff}.col_9v3t .so-heading,.col_9v3t h1,.col_9v3t h2,.col_9v3t h3,.col_9v3t h4,.col_9v3t h5,.col_9v3t h6{color:#fff}

.row_o5m0{padding:50px 0 30px 0; overflow:hidden;}

.row_kzvf{margin:3% 0 1% 0; overflow:hidden;}

.col_9ams{margin:0px 0px 0px 0px; overflow:hidden;}
.section-style{background-color:rgba(247,247,247,1);}
.row_y6ng{padding:4% 0 5% 0; overflow:hidden;}

/* Style Testimonial */ 
.mod-testimonial_o02i h3{text-align:center}.mod-testimonial_o02i .item-info,.mod-testimonial_o02i .item-info h5,.mod-testimonial_o02i .item-info span{color:#000}.mod-testimonial_o02i .item-img-info img{border-radius:50%; margin:0 auto; max-width:100%;}.mod-testimonial_o02i .item{border:1px none ; background:rgba(255,255,255,0.8) }
/* Style Html */ 
.custom-manufacture .yt-carousel-style-1 .yt-carousel-slide:hover .yt-carousel-image::after{opacity:0;}

.custom-manufacture .yt-carousel-style-1.yt-carousel-media .yt-carousel-slide .yt-carousel-links a.yt-lightbox-item{display:none;}
.row_486n{padding:2% 1% 2% 1%; overflow:hidden;}

.row_brln{padding:75px 0px 0px 0px; overflow:hidden;}

